NORN_PROFILE={{ norn_profile }}
NORN_WORKLOAD_CONNECTOR=nomad-consul
NORN_BIND_ADDR=0.0.0.0
NORN_PORT=8800
NORN_DATABASE_URL=postgres://{{ postgres_database_user }}:{{ norn_database_password }}@norn-postgres.service.consul:6432/{{ postgres_database }}?sslmode=verify-full&sslrootcert=/etc/norn/pki/postgres-ca.pem
{% if security_phase in ['nomad-transition', 'enforced'] %}
NORN_NOMAD_ADDR=https://127.0.0.1:4646
NOMAD_CACERT=/etc/norn/pki/nomad-ca.pem
NOMAD_CLIENT_CERT=/etc/norn/pki/nomad.pem
NOMAD_CLIENT_KEY=/etc/norn/pki/nomad-key.pem
NOMAD_TLS_SERVER_NAME=server.global.nomad
NOMAD_TOKEN={{ nomad_norn_token }}
{% else %}
NORN_NOMAD_ADDR=http://127.0.0.1:4646
{% endif %}
{% if security_phase in ['consul-clients', 'consul-tls-outgoing', 'consul-enforced', 'nomad-transition', 'enforced'] %}
NORN_CONSUL_ADDR=https://127.0.0.1:8501
CONSUL_HTTP_ADDR=https://127.0.0.1:8501
CONSUL_CACERT=/etc/norn/pki/consul-ca.pem
CONSUL_CLIENT_CERT=/etc/norn/pki/consul.pem
CONSUL_CLIENT_KEY=/etc/norn/pki/consul-key.pem
CONSUL_TLS_SERVER_NAME=server.dc1.consul
CONSUL_HTTP_SSL_VERIFY=true
CONSUL_HTTP_TOKEN={{ consul_norn_token }}
{% else %}
NORN_CONSUL_ADDR=http://127.0.0.1:8500
{% endif %}
NORN_APPS_DIR=/var/lib/norn/apps
NORN_API_TOKEN={{ norn_api_token }}
NORN_REQUIRE_EXPLICIT_AUTH=true
NORN_AUDIT_SIGNING_KEY={{ norn_audit_signing_key }}
NORN_AUDIT_RETENTION_DAYS=365
NORN_LEGACY_TOKEN_SIGNING_UNTIL=2026-08-15T00:00:00Z
NORN_REGISTRY_URL=registry.digitalocean.com/antiartificial
NORN_ARTIFACT_SIGNING_PUBLIC_KEY=/etc/norn/cosign.pub
NORN_ARTIFACT_DENY_SEVERITIES=HIGH,CRITICAL
NORN_COSIGN_PATH=/usr/local/bin/cosign
NORN_TRIVY_PATH=/usr/local/bin/trivy
DOCKER_CONFIG=/etc/norn/docker
NORN_GIT_SSH_KEY=/etc/norn/git/norn-ha-toy
SOPS_AGE_KEY_FILE=/etc/norn/age/keys.txt
NORN_NETWORK_MODE=local
NORN_INGRESS_URL=http://127.0.0.1:18080
NORN_EXTERNAL_INGRESS=true
NORN_SKIP_OPERATION_RECOVERY=false
NORN_SKIP_DEPLOYMENT_RECOVERY=false
